body{
  background-color: rgb(207, 207, 202);
}
.App {  
  display: flex;
  justify-content: center;   
}

.calculator{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr  ; 
  margin-top: 10%;
  height: 550px; 
  width: 380px; 
  background-color: black;
  border-radius: 10px; 
  padding: 5px;
}

.calculator >*{
  border: 5px solid black;
  padding: 10px;  
  border-radius: 10px;
  color: whitesmoke; 
}

button{
  background-color: rgb(61, 61, 61);
  align-items: center;
  font-size: 30px;
  border-radius: 10px; 
}

button#clear,#zero{
  display: grid;
  grid-column: span 2;
}
button#divide,#multiply,#subtract,#add{
  background-color: grey;
}

.button-push {
  transform: translateY(2px);  
  transition: transform 0.1s;  
}  

.row{
  grid-column: 1/-1;
}

#display{
  text-align: right; 
  color: whitesmoke;
  font-size: xx-large;
  font-family: 'Orbitron', sans-serif;
  background-color: rgb(27, 27, 25); 
}

#clear{
  background-color: rgb(247, 37, 37);  
}

#equals{
  display: grid;
  grid-row: span 2;
  background-color: rgb(62, 153, 214);
}
 

 
